.UserDialog-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, #6dd5ed, #2193b0);
    z-index: -2;
    overflow: hidden;
}

.signUpOrLogIn, .forgetPassword-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .4);
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.UserDialog-wrap h3 {
    color: #2193b0;
    margin-bottom: 1em;
}

.UserDialog-wrap .row {
    margin-bottom: 1em;
}

.row > label {
    position: absolute;
    right: 18px;
    color: rgba(0, 0, 0, .65);
}

.row > input {
    width: 18em;
    height: 30px;
    line-height: 1.4;
    padding-left: .4em;
    padding-bottom: .8em;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: all .4s;
}

.row > input:focus {
    border-bottom-color: #2193b0;
}

button {
    border: 1px solid #2193b0;
    cursor: pointer;
    padding: 8px 12px;
    background-color: #fff;
    transition: all .5s;
}

button:hover {
    background-color: #2193b0;
    color: #fff;
    border-radius: 8px;
}

a {
    float: right;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #2193b0;
}

.noAccountBtn {
    font-weight: normal;
    font-size: 16px;
}

.forgetPasswordBtn, .goBackLogInBtn, .haveAccountBtn {
    margin-top: 8px;
}